<footer>
    <img src="../footer/logo.png" alt="logo empresa">
    <h2>Matchmaking</h2>

    <div id="contatos">
        <br>
        <section id="email" >Email: </section>
        <section id="tele"  >Telefone: </section>
        <section id="respo" >Responsável: </section>
    </div>
</footer>