<header>
    <a href="../index/index.html">
        <img class="logo" src="../header/logo.png" alt="logo">
        <h1>Plataforma Matchmaking de negócios</h1>
    </a>

    <input type="text" name="search" value="">
    <label for="search"><img id="icon-lupa" src="../header/lupa.png" alt="icon search"></label>

    <div id="perfil">
        <img id="icon-perfil" src="../header/perfil.png" alt="">
    </div>        
</header>