<!--ADICIONAR HEADER-->

<main>
    <section id="company">
      <div id="presentation">
        <img class="seta" id="esquerda" src="seta-esquerda.png" alt="">
        <img class="seta" id="direita" src="seta-direita.png" alt="">

        <!-- for imagens do usuario                                               
          <% for(var i=0; i<user.files.length; i++){%>
            <img src="caminho_para-arquivo/userfiles[i]" alt="">
          <%}%> 
        -->

      </div>
        <h2 id="nameCompany"><!--user.name-->  Company Name</h2>
    </section>
    
    <section id="description">
      <span class="linha">
        <h3>Descrição</h3>
        <img class="seta baixo" src="seta-para-baixo.png" alt="">
      </span>

      <!-- <p> user.description </p> -->
    </section>
    
    <section id="services">
      <span class="linha">
        <h3>Serviços</h3>
        <img class="seta baixo" src="seta-para-baixo.png" alt="">
      </span>

      <table>
        <!-- for imagens do usuario                                               
          <% for(var i=0; i<user.services.length; i++){%>
            <tr> user.services[i] <\tr>
          <%}%> 
        -->
         
     </table>    
    </section>
  
    <section id="contacts">
      <span class="linha">
        <h3>Contatos</h3>
        <img class="seta baixo" src="seta-para-baixo.png" alt="">
      </span>

      <table>
         <!-- for imagens do usuario                                               
          <% for(var i=0; i<user.contacts.length; i++){%>
            <tr> user.services[i] <\tr>
          <%}%> 
        -->
      </table>             

    </section>
  </main>

<!--ADICIONAR FOOTER-->
